<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKZX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCFA03EA1C23FB1C007D8171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFA03FD1C23FB1C007D8171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFA04081C23FB1C007D8171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
